doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/stylesheets/style.css')   
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/javascripts/login.js')
    title Super Awesome Chatroom
  body
    h1 Super Awesome Chatroom
    p(style="color:red;") #{message}
    #content
      form(method="post")
        input(type="text" name="username" placeholder="Your Username")#username
        br
        input(type="password" name="password" placeholder="Your Password")#password
        br
        input(type="submit" name="login", value="login")#login
        br
        input(type="button" name="register" value="register")#register
      